{% load static %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    

      
        <h4 class="text-capitalize d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-secondary">
        <span>
          <i class="fa-solid fa-money-check"></i>
          GENERAL</span>
        <a
          class="d-flex align-items-center text-muted"
          href="#"
          aria-label="Add a new report"
        >
          <span data-feather="plus-circle"></span>
        </a>
      </h4>
      <ul class="nav flex-column">
      <li class="nav-item"> 
        <a class="  nav-link text-primary " href="{% url 'dashboard' %}">
          <i class="fa-solid fa-table text-primary mr-0 mt-0" style="font-size:18px;"></i>
        <div class="mt-2"> Dashboard </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="{% url 'expenses' %}">
          <i class="fa-solid fa-money-bills text-primary mr-0 mt-0" style="font-size:18px;"></i>
          <div class="mt-2">Expenses</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="{% url 'income' %}">
          <i class="fa-solid fa-hand-holding-dollar text-primary mr-0 mt-0" style="font-size:18px;"></i>
          <div class="mt-2">Income</div>
        </a>
      </li>
    </ul>


    <h4 class="text-capitalize d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-secondary">
      <span>
        <i class="fa-solid fa-chart-line"></i>
        SUMMARY</span>
      <a
        class="d-flex align-items-center text-muted"
        href="#"
        aria-label="Add a new report"
      >
        <span data-feather="plus-circle"></span>
      </a>
    </h4>


    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link text-primary" href="{% url 'statsE' %}">
          <i class="fa-solid fa-square-poll-horizontal text-primary mr-0 mt-0" style="font-size:18px;"></i>
          <div class="mt-2">Expenses Summary</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="{% url 'statsI' %}">
          <span data-feather="file-text"></span>
          <i class="fa-solid fa-square-poll-vertical text-primary mr-0 mt-0" style="font-size:18px;"></i>
          <div class="mt-2"> Income Summary</div>
        </a>
      </li>
    </ul>

    <h4
      class=" d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-secondary"
    >
      <span><i class="fa-solid fa-gear"></i>
        SETTINGS</span>
      <a
        class="d-flex align-items-center text-muted"
        href="#"
        aria-label="Add a new report"
      >
        <span data-feather="plus-circle"></span>
      </a>
    </h4>
    <ul class="nav flex-column mb-2">
      <li class="nav-item ">
        <a class="nav-link text-primary" href="{% url 'preferences' %}">
          <i class="fa-solid fa-solid fa-coins text-primary mr-0 mt-0" style="font-size:18px;"></i>
          <div class="mt-2"> Currency</div>
        </a>
      </li>
      {% comment %} <li class="nav-item">
        <a class="nav-link text-primary" href="#">
          <span data-feather="file-text"></span>
          Account
        </a>
      </li> {% endcomment %}
    </ul>
  </div>
</nav>