{% load static %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <h4
        class="text-capitalize d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-secondary "
      >
        <span>GENERAL</span>
        <a
          class="d-flex align-items-center text-muted"
          href="#"
          aria-label="Add a new report"
        >
          <span data-feather="plus-circle"></span>
        </a>
      </h4>
        <a class="  nav-link text-primary " href="{% url 'dashboard' %}">
          <span data-feather="home"></span>
          Dashboard 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="{% url 'expenses' %}">
          Expenses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="{% url 'income' %}">
          Income
        </a>
      </li>
    </ul>

    <h4
      class="text-capitalize d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-secondary"
    >
      <span>SUMMARY</span>
      <a
        class="d-flex align-items-center text-muted"
        href="#"
        aria-label="Add a new report"
      >
        <span data-feather="plus-circle"></span>
      </a>
    </h4>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link text-primary" href="{% url 'statsE' %}">
          Expenses Summary
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="{% url 'statsI' %}">
          <span data-feather="file-text"></span>
          Income Summary
        </a>
      </li>
    </ul>

    <h4
      class=" d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-secondary"
    >
      <span>SETTINGS</span>
      <a
        class="d-flex align-items-center text-muted"
        href="#"
        aria-label="Add a new report"
      >
        <span data-feather="plus-circle"></span>
      </a>
    </h4>
    <ul class="nav flex-column mb-2">
      <li class="nav-item ">
        <a class="nav-link text-primary" href="{% url 'preferences' %}">
          Currency
        </a>
      </li>
      {% comment %} <li class="nav-item">
        <a class="nav-link text-primary" href="#">
          <span data-feather="file-text"></span>
          Account
        </a>
      </li> {% endcomment %}
    </ul>
  </div>
</nav>